*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    justify-content:"center";
    display: block;
    background-color: rgb(34, 157, 185);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    /* padding: 5rem; */
    color: #0a0234;
}

.logo{
    color: rgb(241, 234, 234);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.navbar{
    display: flex;
    background-color: rgb(34, 157, 161);
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-radius: 18px;
    overflow: hidden;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;
    overflow-x: hidden;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: rgb(243, 228, 195);
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.navbar::before{
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 20%;
    display: flex;
}

.navbar ul li a:hover{
    display: inline-block;
    color: black;
    align-items: center;
    background-color: rgb(255, 191, 92);
    border-radius: 20px;
    height: auto;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(201, 207, 202);
    margin: 5px;
    cursor: pointer;
}

.nav-links.nav-active li{
    opacity: 1;
}

.nav-links.nav-active{
    opacity: 1;
}
.floating{
    display: grid;
    background-color: rgb(210, 210, 210);
    width: 79vw;
    align-items: center;
    text-align: center;
    margin-top: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
    border: 3px solid rgb(8, 255, 234);
    border-radius: 20px;
}
.floating a{
    font-weight: bolder;
    color:blueviolet;
}

.jobcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;    
}

.jobs {
    display: inline-grid;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(5, 241, 135);
    color: rgb(52, 52, 49);
    background-color: rgb(224, 224, 224);
    margin:2vh 1vw 2vh 1vw;
    padding:2vh 2vw 2vh 2vw;
}
.job li{
    margin: 3px 0px 11px 0px;
    padding:10px 0px 4px 0px;
}

.jobs h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    /* margin-left: 6vw; */
    background-color: #df3260;
    border-radius: 25px;
    width: 0100%;
}

/* Home Section */
.shortinfo{
    display: flex;
    flex-direction: column;
    padding: 13px 20px 36px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: rgb(37, 36, 36);
    background-color: rgb(149, 209, 216);
}

.shortinfo h1{
    color:brown;
    text-align: center;
    margin: 10%, 10%, 10%, 10%;
}

.recentupdates{
    text-align: center;
    display: grid;
    color: white;
    background-color: #bb355b;
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
}
.job{
    text-align: left;
    padding: 2% 5% 2% 2%;
    margin: 1% 0% 1% 15%;
}
.job li a{
    text-align: left;
    padding: 2% 5% 2% 2%;
    margin: 1% 0% 1% 15%;
}
.btn1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 100px;
    /* height: 50px; */
    /* font-size: large; */
    background-color: #df3260;
    height: auto;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline:none;
}
.btn1:hover{
    box-shadow: inset 200px 0 0 0 rgb(244, 193, 27);
    cursor:pointer;
    color:#0a0234;
}

.foot{
    color: white;
    display: flex;
    height: 4vh;
    background-color: #3c0715;
    justify-content: center;
    align-items: center;
    bottom: 0;
    vertical-align: bottom;
}

@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .logo{
        color: rgb(241, 234, 234);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 22px;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        list-style: none;
    }
    .btn1{
        justify-content: space-around;
        text-align: center;
        list-style: none;
        width: 50%;
        font-size: small;
        background-color: #df3260;
        height: auto;
        border-radius: 20%;
    }


@media screen and (max-width:768px){
    body{
        margin: auto;
        width: 100%;
    }
    a{
        text-decoration: none;
        padding: 4px;
        color: #0a0234;
    }
    .nav-links{
        border-radius: 65px;
        font-size: small;
        position: absolute;
        right: 0px;
        height: 30vh;
        top: 5vh;
        background-color: rgb(34, 157, 161);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links{
        opacity: 0;
    }
    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display:block;
        cursor: pointer;
    }
    .jobcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .job li a{
        text-align: left;
        padding: 2% 1% 2% 2%;
        margin: 1% 0% 1% 1%;
    }
    .btn1{
        justify-content: space-around;
        text-align: center;
        list-style: none;
        width: 30%;
        font-size: small;
        background-color: #df3260;
        height: auto;
        border-radius: 20%;
    }
    table{
        border-collapse: collapse;
        padding: 2% 2% 2% 2%;
    }
    tr{
        border-collapse: collapse;
        padding: 2% 2% 2% 2%;
    }
    td{
        font-size: small;
        border-collapse: collapse;
        border: 2px solid brown;
        padding: 4% 4% 2% 4%;
    }
    .nav-active{
        transform: translateY(0%) !important;
    }

}
