*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 157, 185);
}
.item{
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin-top: 13px;
}
a{
    text-decoration: none;
    padding: 15px 30px;
    color: #0a0234;
    position: relative;
}
h2{
    font-weight: bold;
}
.vacencies{
    color: #36a8a3;
    letter-spacing: 1px;
}
#navbar{
    height: auto;
    background-color: rgb(34, 157, 161);
    border-radius: 20px;
}

#navbar ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: rgb(243, 228, 195);
    font-size: 120%;
    padding: 0% 0% 0% 0%;
    position: relative;
    /* margin: 20% 20% 20% 0%; */
}
.item{
    height: auto;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
}

#navbar::before{
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 20%;
    display: flex;
}

#navbar ul li a:hover{
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 40%;
    width: 110%;
}

.floating{
    display: grid;
    background-color: rgb(210, 210, 210);
    width: 79vw;
    align-items: center;
    text-align: center;
    margin-top: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
    border: 3px solid rgb(8, 255, 234);
    border-radius: 20px;
}


#services {
    display: flex;
    align-items: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    width: auto;    
}

.jobs{
    display: inline-grid;
    width: 32%;
    align-items: center;
    padding: auto;
    border-radius: 15px;
    border: 2px solid rgb(5, 241, 135);
    color: rgb(231, 235, 210);
    background-color: rgb(224, 224, 224);
    margin: auto;
    margin-top: 30px;
}

.jobs h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 6vw;
    background-color: #df3260;
    border-radius: 25px;
    width: 50%;
}

.jobs script {
    display: inline-grid;
    text-align: center;
    align-items: center;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 13px 7px 36px 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px;
    color: brown;
    background-color: rgb(227, 227, 227);
}

#home h1{
    color:brown;
    text-align: center;
    margin: 10%, 10%, 10%, 10%;
}
#home p{
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 1.5rem;
}
/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
#home p{
    font-size: 1.3rem;
}

.recentupdates{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 6px 20px;
    display: grid;
    color: white;
    background-color: #800024;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;


}
.vacencies{
    text-align: left;
    padding: 2% 5% 2% 2%;
    margin: 1% 0% 1% 15%;
}
.vacencies li a{
    text-align: left;
    padding: 2% 5% 2% 2%;
    margin: 1% 0% 1% 15%;
    transition: all 0.3s ease;
}
.more{
    text-align: center;
    font-size: large;
    background-color: rgb(237, 203, 11);
    margin: 5%;
    border-radius: 50%;
}
