*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --navbar-height: 29px;

}
body{
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 157, 185);
}
.item{
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin-top: 13px;
}
a{
    text-decoration: none;
    padding: 15px 30px;
    color: rgb(35, 90, 191);
    font-size: 20px;
    position: relative;
    /* border: 2px solid rgb(127, 237, 100); */
}
h2{
    font-weight: bold;
}
.vacencies{
    letter-spacing: 1px;
}
#navbar{
    background-color: rgb(34, 157, 161);
    border-radius: 20px;
    height: 80px;
}

#navbar div{
    display: flex;
}
#navbar ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: rgb(243, 228, 195);
    font-size: 30px;
    padding: 8px 15px;
    position: relative;
    margin: 0px 20px;
}
#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 99vw;
    z-index: -1;
    border-radius: 15px;
    display: flex;
    transform: rotate(360deg);
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}

#services{
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}


/* .wave{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 100%;
    background-color: cornflowerblue;
} */

/* #navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
} */

/* .item{
    width: 100%;
} */


/* #navbar ul{
    display: flex;
    /* font-family: 'Baloo Bhai 2', cursive; */
/* #navbar ul li{
    list-style: none;
    font-size: 1.4rem;
    display: inline-block;
} */
/* #navbar ul li a{
    color:rgb(241, 240, 255);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
} */


#services {
    display: flex;
    align-items: center;
    
}

.jobs{

    display: inline-grid;
    width: 32%;
    align-items: center;
    padding: auto;
    border-radius: 15px;
    border: 2px solid rgb(42, 157, 165);
    color: rgb(6, 63, 19);
    background-color: rgb(224, 224, 224);
    margin: auto;
    margin-top: 30px;
}
.jobs h2 {
    text-align: center;
    margin-top: 10px;
    background-color: #36a8a3;
    border-radius: 25px;

}
.jobs script {
    display: inline-grid;
    text-align: center;
    align-items: center;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 13px 7px 36px 5px;
    /* height: 60vh; */
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px;
    color: brown;
    /* font-family: 'Baloo Bhai 2', cursive; */
    background-color: rgb(227, 227, 227);
}

/* #home::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

} */
#home h1{
    color:brown;
    text-align: center;
    margin: 10%, 10%, 10%, 10%;
}
#home p{
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 1.5rem;
}
/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;

}
/* .btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: tomato;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
} */
.recentupdates{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 6px 20px;
    display: grid;
    color: white;
    background-color: #800024;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;


}
.vacencies{
    /* display: ""; */
    text-align: left;
    padding: 5% 5% 5% 5%;
    margin: 1% 0% 1% 15%;

}
.more{
    text-align: center;
    font-size: large;
    background-color: rgb(237, 203, 11);
    margin: 5%;
    border-radius: 50%;

}
