*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    justify-content:"center";
    display: block;
    background-color: rgb(34, 157, 185);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    padding: 5rem;
    color: #0a0234;
}
.logo{
    color: rgb(241, 234, 234);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.navbar{
    display: flex;
    background-color: rgb(34, 157, 161);
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-radius: 18px;
    overflow-x: hidden;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;

}

.nav-links li a{
    text-decoration: none;
    color: rgb(243, 228, 195);
    font-size: 20px;
    font-weight: bold;
}

.navbar::before{
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 20%;
    display: flex;
}
.nav-links li{
    list-style: none;
}

.navbar::before{
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 150px;
    display: flex;
}

.navbar ul li a:hover{
    display: inline-block;
    color: black;
    align-items: center;
    background-color: hotpink;
    border-radius: 150px;
    height: 80px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(252, 251, 255);
    margin: 5px;
    cursor: pointer;
}
.nav-links.nav-active li{
    opacity: 1;
}

.floating{
    display: grid;
    background-color: rgb(210, 210, 210);
    width: 79vw;
    align-items: center;
    text-align: center;
    margin-top: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
    border: 3px solid rgb(8, 255, 234);
    border-radius: 20px;
}
.floating a{
    font-weight: bolder;
    color:blueviolet;
}

.nav-links.nav-active{
    opacity: 1;
}

.nav-links.nav-active li{
    opacity: 1;
}

.container {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 2%;
    border: 2px solid rgb(5, 241, 135);
    color: rgb(52, 52, 49);
    background-color: rgb(209, 211, 214);
    padding:2vh 2vw 2vh 2vw;
}

/* Home Section */
.shortinfo{
    display: flex;
    flex-direction: column;
    padding: 13px 20px 36px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: rgb(37, 36, 36);
    background-color: rgb(149, 209, 216);
}


.shortinfo{
    border: none;
    display: flex;
    align-items: center;
    vertical-align: top;
    font-size: larger;
    justify-content: center;
    text-align: center;
}
.shortinfo h1{
    text-align: center;
    color: rgb(207, 64, 136);
}
table{
    border-collapse: collapse;
    padding: 2% 2% 2% 2%;
}
tr{
    border-collapse: collapse;
    padding: 2% 2% 2% 2%;
}
td{
    font-size: x-large;
    border-collapse: collapse;
    border: 2px solid brown;
    padding: 2% 2% 2% 2%;
}
.table1info{
    width: 100%;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(164, 8, 88);
    padding: 10px;
}
/* Utility Classes */
.recentupdates{
    text-align: center;
    display: grid;
    color: white;
    background-color: #bb355b;
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
}

.btn1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 150px;
    height: 100px;
    /* font-size: large; */
    background-color: #df3260;
    height: auto;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline:none;
}
.btn1:hover{
    box-shadow: inset 300px 0 0 0 rgb(244, 193, 27);
    cursor:pointer;
    color:#0a0234;
}

.foot{
    color: white;
    display: flex;
    height: 4vh;
    background-color: #3c0715;
    text-align: center;
    justify-content: center;
    bottom: 0;
}
.foot p{
    justify-content: center;
    text-align: center;
    margin-top: 12px;
}

@media screen and (max-width:1024px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
        list-style: none;
    }
    .btn1{
        justify-content: space-around;
        text-align: center;
        list-style: none;
        width: 50%;
        font-size: small;
        background-color: #df3260;
        height: auto;
        border-radius: 20%;
    }


@media screen and (max-width:768px){
    body{
        margin: auto;
        width: 100%;
    }
    a{
        text-decoration: none;
        padding: 4px;
        color: #0a0234;
    }
    .nav-links{
        border-radius: 65px;
        font-size: small;
        position: absolute;
        right: 0px;
        height: 20vh;
        top: 8vh;
        background-color: rgb(34, 157, 161);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links{
        opacity: 0;
    }
    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display:block;
        cursor: pointer;
    }
    .jobcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .job li a{
        text-align: left;
        padding: 2% 1% 2% 2%;
        margin: 1% 0% 1% 1%;
    }
    .btn1{
        justify-content: space-around;
        text-align: center;
        list-style: none;
        width: 30%;
        font-size: small;
        background-color: #df3260;
        height: auto;
        border-radius: 20%;
    }

}
.nav-active{
    transform: translateY(0%) !important;
}
table{
    border-collapse: collapse;
    padding: 2% 2% 2% 2%;
}
tr{
    border-collapse: collapse;
    padding: 2% 2% 2% 2%;
}
td{
    font-size: small;
    border-collapse: collapse;
    border: 2px solid brown;
    padding: 4% 4% 2% 4%;
}